<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Visual Perception Experiment</title>

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/style/mystyle.css" %>" rel="stylesheet">
    <link href="<%= static_path + "/style/gammacorrection.css" %>" rel="stylesheet">
  </head>

  <body>
    <p>Squint or position yourself far away enough from screen such that the striped area outside the circle looks solid. As much as possible, adjust the slider until the color of the circle matches that of the area around it.</p>
    <div class="row">
      <div class="column">
        <div class="rangeslider center" id="sliderGroupRed"> 
          <input type="range" min="1" max="3" value="1" step="0.01" class="myslider" id="sliderRangeRed"> 
          <p>Value: <span id="demoRed"></span></p> 
        </div>
      </div>
      <div class="column">
        <div class="rangeslider center" id="sliderGroupGreen"> 
          <input type="range" min="1" max="3" value="1" step="0.01" class="myslider" id="sliderRangeGreen"> 
          <p>Value: <span id="demoGreen"></span></p> 
        </div>
      </div>
      <div class="column">
        <div class="rangeslider center" id="sliderGroupBlue"> 
          <input type="range" min="1" max="3" value="1" step="0.01" class="myslider" id="sliderRangeBlue"> 
          <p>Value: <span id="demoBlue"></span></p> 
        </div>
      </div>
    </div>

    <input id="submitGammaCalibration" type="button" value="Submit Calibration"></input>
    
    <script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>"></script>
    <script src="<%= static_path + "/jspsych-6.1.0/jspsych.js" %>"></script>
    <script src="<%= static_path + "/jspsych-6.1.0/plugins/jspsych-html-button-response.js" %>"></script>
    <script src="<%= static_path + "/my-jspsych-html-button-response.js" %>"></script>
    <script src="<%= static_path + "/jspsych-6.1.0/plugins/jspsych-html-keyboard-response.js" %>"></script>
    <script src="<%= static_path + "/my-jspsych-fullscreen.js" %>"></script>
    <script src="<%= static_path + "/jspsych-6.1.0/plugins/jspsych-image-keyboard-response.js" %>"></script>
    <script src="<%= static_path + "/my-jspsych-image-keyboard-response.js" %>"></script>
    <script src="<%= static_path + "/my-jspsych-html-submit-form.js" %>"></script>
    <script src="<%= static_path + "/my-jsPsych-trial-keyboard-response.js" %>"></script>
    <script src="<%= static_path + "/three.js" %>"></script>
    <script src="<%= static_path + "/webgl.js" %>"></script>
    <script src="<%= static_path + "/gammacorrection.js" %>"></script>
    <script src="<%= static_path + "/experiment.js" %>"></script>
    <!-- <script src="<%= static_path + "/contrast.js" %>"></script> -->
    
  </body>
</html>
